<h1>Edit <%= @instruments.name %> </h1>

<form action="/instruments/<%= @instruments.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <%= erb :"instruments/form" %>
  <input type="submit" value="Edit <%= @instruments.name %>" />
</form>

<br/>

<a href="/instruments/<%= @instruments.id %>">Back to <%= @instruments.name %>'s Show Page.</a>
<br/>
<form action="/instruments/<%= @instruments.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete <%= @instruments.name %>">
</form>
